# .dockerignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.git
.gitignore
*.log
db.sqlite3
.DS_Store
media/
staticfiles/
.dockerignore
Dockerfile
docker-compose.yml
README.md
.vscode
.idea